{% extends "joined.html" %}

{% block style2 %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/profile_settings.css') }}">
{% endblock %}

{% block main %}
<main>
	<div class="card">
		<h2>Profile Settings</h2>
		<!-- Profile settings form -->
		<form action="/profile-settings/{{ id }}" method="post" id="form" autocomplete="off">
			{{ form.hidden_tag() }}
			<div id="left-fields">
				<h4>{{ form.username.label }}</h4>
				{{ form.username() }}

				{{ form.submit() }}
			</div>

			<div id="right-fields">
				<h4>{{ form.bio.label }}</h4>
				{{ form.bio() }}
			</div>
		</form>
	</div>
</main>

<!-- Embed bio and username into HTML file -->
<script>
	window.appData = {
		user_name: {{ user_name | tojson }},
		bio: {{ bio | tojson }}
	};
</script>

<script src="{{ url_for('static', filename='js/profile_settings.js') }}"></script>
{% endblock %}