{% extends "intro.html" %}

{% block style %}
<link rel="stylesheet" href="{{url_for('static', filename='css/intro.css')}}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
{% endblock %}

{% block main %}
<main>
	<form action="/reset" method="post" id="email-form" class="card">
		<h2>Password Reset</h2>
		<h4>Enter your email to reset your password.</h4>
		<p class="error">{{ error }}</p>
		{{ email_form.hidden_tag() }}
		{{ email_form.email() }}
		{{ email_form.new_password() }}
		{{ email_form.confirm_password() }}
		{{ email_form.submit_email() }}
	</form>

	{% if code_sent %}
	<div id="screen-blur">
		<form action ="/reset" method="post" id="code-form" autocomplete="off">
			<h2>Verification</h2>
			<h4 id="verification-prompt">Input the verification code we sent to your email.</h4>
			{{ code_form.hidden_tag() }}
			{{ code_form.code() }}
			{{ code_form.submit() }}
		</form>
	</div>
	{% endif %}
</main>
{% endblock %}