/* Theme Variables */
:root {
	--icon-color: #38B6FF;
}

/* Header Styles */
header {
	width: 100%;
	height: 10vh;
	flex-direction: row;
	justify-content: space-between;
}

.header-div {
	display: flex;
	align-items: center;
}

.header-div * {
	padding-left: 10px;
	padding-right: 10px;
}

#mxvlogo {
	height: 10vh;
}

/* Main Content Styles */
main {
	padding-top: 10vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* Intro Div Styles */
#intro-div {
	margin-top: 10vh;
	margin-bottom: 10vh;
	display: flex;
	align-content: center;
	justify-content: space-between;
	width: 70%;
}

#intro-image {
	font-size: 300px;
	color: var(--icon-color);
}

#intro-text {
	margin-top: 10vh;
}

/* Feature Card Styles */
#card-div {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin-bottom: 10vh;
	width: 100%;
}

#card-div .card {
	width: 30%;
	height: 15vh;
	display: flex;
	align-items: center;
}

.card-image {
	font-size: 50px;
	margin-right: 10px;
	color: var(--icon-color);
}

/* Dylan Bio Styles */
#dylan-bio {
	margin-top: 10vh;
	width: 60%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 10vh;
}

#dylan-div {
	width: 90%;
	margin-top: 20px;
	display: flex;
	justify-content: center;
}

#dylan-gif {
	width: 60%;
	margin-right: 10px;
	border-radius: 10px;
}

#dylan-title {
	text-align: center;
}

/* Mobile Styles */
@media screen and (max-width: 768px) {
	/* Header Styles */
	header, #mxvlogo {
		height: 5vh;
	}

	/* Intro Div Styles */
	#intro-div, #dylan-bio {
		margin-top: 0px;
	}

	#intro-div {
		width: 95%;
	}

	#intro-image {
		font-size: 150px;
	}

	#intro-text {
		margin-top: 0px;
	}

	/* Card Div Styles */
	#card-div {
        display: flex;
        gap: 1rem;
        overflow-x: hidden;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;		
	}

	#card-div .card {
        flex: 0 0 70%;
        scroll-snap-align: center;
        margin-right: 0.5rem; 
        min-width: 0;            
    }

	#card-div .card:first-child {
		margin-left: 15%;
	}

	#card-div .card:last-child {
		margin-right: 15%;
	}

    #card-div::-webkit-scrollbar { 
		display: none;
	}

    #card-div { 
		-ms-overflow-style: none;
		scrollbar-width: none;
	}

	/* Dylan Bio Styles */
	#dylan-bio {
		width: 90%;
	}

	#dylan-div {
		flex-direction: column;
	}

	#dylan-gif {
		width: 100%;
	}
}